/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #301934;
  --ifm-color-primary-dark: #2A162D;
  --ifm-color-primary-darker: #261329;
  --ifm-color-primary-darkest: #1E0F21;
  --ifm-color-primary-light: #412247;
  --ifm-color-primary-lighter: #4D2C54;
  --ifm-color-primary-lightest: #5A3762;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-footer-background-color: #000000; /* Dark black for footer */
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #301934;
  --ifm-color-primary-dark: #2A162D;
  --ifm-color-primary-darker: #261329;
  --ifm-color-primary-darkest: #1E0F21;
  --ifm-color-primary-light: #412247;
  --ifm-color-primary-lighter: #4D2C54;
  --ifm-color-primary-lightest: #5A3762;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-footer-background-color: #000000; /* Dark black for footer */
}
